# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [6]:
def add_two(x):
    return x + 2

print(add_two)

<function add_two at 0x00000212FD12D790>

In [7]:
print(lambda abc: abc + 2)

<function <lambda> at 0x00000212FD12DC10>

In [8]:
# Execute a lambda function - IIFE - Immediately Invoked Function Expression

(lambda y: y + 2)(19)

21

#### Saving to a Variable

In [9]:
named_lambda = lambda x: x + 2

print(named_lambda)

named_lambda(15)

<function <lambda> at 0x00000212FD12D9D0>

17

#### Multiple Inputs

In [10]:
def multiply(x, y, z):
    return x * y * z

multiply(3, 5, 7)

105

In [11]:
(lambda x, y, z: x * y * z)(3, 5, 7)

105

#### Passing a Function into a Function

In [12]:
def apply_func(f, name):
    """
    f -> function to execute
    name -> name to execute the function on
    """
    return f(name)


def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Brian')

'B'

In [13]:
help(apply_func)

Help on function apply_func in module __main__:

apply_func(f, name)
    f -> function to execute
    name -> name to execute the function on

In [14]:
get_first_letter

#### Passing a Lambda into a Function

In [15]:
apply_func(lambda string: string[-1], 'codingtemple')

'e'

#### Returning a Function from a Function

In [16]:
# Regular defined function
def create_multiplier(num):
    def inner_func(x):
        return num * x
    return inner_func


five_times = create_multiplier(5)
print(five_times)
five_times(5)

<function create_multiplier.<locals>.inner_func at 0x00000212FD2B8AF0>

25

In [17]:
five_times(10)

50

In [3]:
three_times = create_multiplier(3)

print(three_times)

three_times(10)

<function create_multiplier.<locals>.inner_func at 0x00000212FD12D4C0>

30

#### Returning a Lambda from a Function

In [33]:
def new_multiplier(num):
    return lambda x: num * x

five = new_multiplier(5)
print(five)

three = new_multiplier(3)
print(three)


print(five(10), three(10))

<function new_multiplier.<locals>.<lambda> at 0x00000163DE51AB80>
<function new_multiplier.<locals>.<lambda> at 0x00000163DE452670>
50 30

#### If Statements within Lambdas

In [35]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2
    
do_something(5)

7

In [37]:
# Ternary: value_if_true if condition else value_if_false
def do_something_again(num):
    return num * 2 if num > 10 else num + 2

do_something_again(5)

7

In [40]:
# lambda input(s): <value to return if true> if <condition> else <value to return if false>

(lambda num: num * 2 if num > 10 else num + 2)(5)

7

In [45]:
def do_something_else(num):
    if num > 100:
        return num 
    elif num > 50:
        return num-10
    elif num > 20:
        return num ** 2
    else:
        return 0
    
    
print(do_something_else(110))
print(do_something_else(80))
print(do_something_else(30))
print(do_something_else(10))

110
70
900
0

In [54]:
def do_something_ternary(num):
    return num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0

print(do_something_ternary(110))

110

In [49]:
(lambda num: num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0)(10)

0

In [51]:
age = int(input('How old are you? '))

age_group = 'Senior' if age > 65 else 'Adult' if age > 18 else 'Child'

print(f"Your age of {age} is in the {age_group} age group")

How old are you? 45
Your age of 45 is in the Adult age group

In [60]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [68]:

sorted(['Brian', 'Taty', 'Sam', 'Dereck'], key=lambda name: name[1], reverse=True)

['Brian', 'Dereck', 'Taty', 'Sam']

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [52]:
(lambda x: x ** 3)(2)

def cubed(num):
    return lambda x: x ** num

number = cubed(3)
print(number(2))

f = lambda x: x ** 3
f(2)

8

8

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [53]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [54]:
def squared_minus_two(number):
    return number**2 - 2


numbers = [12, 3, 7, 3, 6, 58, 23, 2, 44]

new_nums = []
for num in numbers:
    new_num = squared_minus_two(num)
    new_nums.append(new_num)
    
print(new_nums)

[142, 7, 47, 7, 34, 3362, 527, 2, 1934]

In [55]:
# map(function, *iterable -> List, Tuple, String, Set, Dict, etc.)

list(map(squared_minus_two, numbers))

[142, 7, 47, 7, 34, 3362, 527, 2, 1934]

In [56]:
list(map(squared_minus_two, [1, 2, 3, 4]))

[-1, 2, 7, 14]

In [59]:
list(map(do_something_ternary, numbers))

NameError: name 'do_something_ternary' is not defined

In [58]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 25, 23, 543, 213, 333]

def some_func(x, y):
    print(f'X={x}, Y={y}')
    return x * y


list(map(some_func, x_values, y_values))

X=1, Y=10
X=2, Y=12
X=3, Y=25
X=4, Y=23
X=5, Y=543
X=6, Y=213
X=7, Y=333

[10, 24, 75, 92, 2715, 1278, 2331]

In [80]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 25, 23]

def some_func(x, y):
    print(f'X={x}, Y={y}')
    return x * y


list(map(some_func, x_values, y_values))

X=1, Y=10
X=2, Y=12
X=3, Y=25
X=4, Y=23

[10, 24, 75, 92]

#### Using Lambda's with Map

In [81]:
numbers_again = [4, 6, 7, 2, 6, 7, 2, 8, 12]
list(map(lambda num: num**2 - 2, numbers_again))

[14, 34, 47, 2, 34, 47, 2, 62, 142]

In [ ]:
def fdkljf(a, b):
    return b/a

In [34]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 25, 23]

list(map(lambda a, b: b/a, x_values, y_values))

[10.0, 6.0, 8.333333333333334, 5.75]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [85]:
numbers = range(1,11)

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]
def funktion(i):
        if i % 2 == 0:
            return i * 2
        else: 
            return i / 2

list(map(funktion, numbers))

[None, None, None, None, None, None, None, None, None, None]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [88]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [97]:
names = ['Bob', 'Andy', 'Allison', 'Bill', 'Max', 'Amy', 'Brianna']

def starts_with_a(name):
    return name[0].upper() == 'A'
#         return True
#     else:
#         return False
    
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, True, True, False, False, True, False]

In [98]:
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Andy', 'Allison', 'Amy']

In [104]:
def remainder(num):
    return num % 3

my_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(remainder, my_nums))

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [105]:
list(filter(remainder, my_nums))

[1, 2, 4, 5, 7, 8, 10]

In [106]:
bool(0)

False

In [86]:
for i in range(-10,10):
    print(i, bool(i))

-10 True
-9 True
-8 True
-7 True
-6 True
-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True

#### Using Lambda's with Filter()

In [114]:
list(filter(lambda name: True if name[0].upper() == 'A' else False, names))

['Andy', 'Allison', 'Amy']

In [113]:
list(filter(lambda name: name[0].upper() == 'A', names))

['Andy', 'Allison', 'Amy']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [109]:
from random import randint

random_nums = [randint(1,100) for x in range(20)]

print(random_nums)

[37, 22, 3, 31, 4, 86, 16, 47, 91, 33, 63, 84, 26, 67, 25, 77, 95, 28, 62, 100]

In [110]:
import statistics

def statz(x):
    return statistics.mean(x)
                    
boogerz = statz(random_nums)


list(filter(lambda x: x > boogerz, random_nums))

[86, 91, 63, 84, 67, 77, 95, 62, 100]

In [111]:
list(filter(lambda x: x > statistics.mean(random_nums), random_nums))

[86, 91, 63, 84, 67, 77, 95, 62, 100]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [114]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [115]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [116]:
def add_nums(num1, num2):
    print('===================')
    print(f"num1: {num1}")
    print(f"num2: {num2}")
    print(f"returns: {num1 + num2}")
    return num1 + num2

list_1 = [2, 5, 8, 10, 15]
result_add = reduce(add_nums, list_1)
print(result_add)

#num1 = x
#num2 = y

===================
num1: 2
num2: 5
returns: 7
===================
num1: 7
num2: 8
returns: 15
===================
num1: 15
num2: 10
returns: 25
===================
num1: 25
num2: 15
returns: 40
40

In [117]:
total = 0
for num in list_1:
    print(f"total: {total}, num: {num}")
    total += num
print(total)

total: 0, num: 2
total: 2, num: 5
total: 7, num: 8
total: 15, num: 10
total: 25, num: 15
40

#### Using Lambda's with Reduce()

In [118]:
result_lambda = reduce(lambda num1, num2: num1 * num2, list_1)
result_lambda

12000

In [119]:
prod = 1
for num in list_1:
    prod *= num
print(prod)

12000

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [123]:
list_2 = [2, 4, 6, 8, 10]

reduce(lambda x, y: x*y, list_2)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [150]:


def capitalize(name):
    return name[0].upper() + name[1:].lower() 

def full_name(first, last):
    return capitalize(first) + ' ' + capitalize(last)

def greet_person(first_name, last_name, day_of_week):
    print('Hello')
    person_full_name = full_name(first_name, last_name)
    print(f'Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}!')
    
    
greet_person('juan', 'soto', 'tuesday')

Hello
Hello Juan Soto, it sure is beautiful on this Tuesday!

#### Implementing a Base Case

In [180]:
def add_nums(num):
    if num <= 1:
        print(f"add_nums({num}) = {num}")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num - 1})")
        return num + add_nums(num - 1)

add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

#### Writing a Factorial Function

In [175]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

def factorials(num):
    output = 1
    while num > 0:
        output*= num
        num -= 1
    return output

def factorial(n):
    # Base Case: Line 7-8
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)
    

print(factorial(5))
factorials(6)

120

720

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [192]:
a = map(len, ['Brian', 'Stanton', 'Coding Temple'])

print(a)

<map object at 0x00000163DE530A30>

In [194]:
for i in a:
    print(i)

5
7
13

In [195]:
for i in a:
    print(i)

In [198]:
a_new_list = [2, 3, 3, 4, 5, 6, 7]

list_iter = iter(a_new_list)

In [201]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [209]:
next(list_iter)

StopIteration:

In [210]:
b = list(map(len, ['Brian', 'Stanton', 'Coding Temple']))

print(b)

print(b[1])

for i in b:
    print(i)
    
for i in b:
    print(i)

[5, 7, 13]
7
5
7
13
5
7
13

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [225]:
def my_range(start, stop, step=1):
    while start < stop:
        return start
        start += step
        
        
my_range(0,10)

0

In [226]:
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start += step
        
        
my_range(0,10)

In [359]:
y = my_range(1,100)

print(y)

<generator object my_range at 0x00000163DE7A60B0>

In [257]:
for x in my_range(1,10):
    print(x, x**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [230]:
range_iter = my_range(0,10)

for num in range_iter:
    print(num)
    
print(50*'=')

for num in range_iter:
    print(num)

0
1
2
3
4
5
6
7
8
9
==================================================

In [231]:
range_iter_again = my_range(0,100,5)

print(range_iter_again)

<generator object my_range at 0x00000163DE599270>

In [252]:
next(range_iter_again)

StopIteration:

#### Infinite Generator

In [210]:
# bad, never create infinite loops
def infinite(x):
    while True:
        yield x
        x += 1
        
gen = infinite(1)

In [382]:
next(gen)

21

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [10]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

list(filter(lambda x: x.strip(), places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method or the "sorted()" function and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

x = sorted(author, key=lambda name: name.split(" ")[-1].lower())
print(x)
print(author)

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [89]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

fahr = map(lambda city: (city[0], city[1] * 9/5 + 32), places)
print(list(fahr))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [29]:
l = [('rana', 1, 1), ('pato', 1, 1), ('perro', 1, 1)]
map(lambda x:x[0], l).index("pato") # returns 1

AttributeError: 'map' object has no attribute 'index'

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [92]:
def fibonacci(x):
    if x == 0:
        yield ""
    else:
        for n in range(0,x):
            yield x


for x in fibonacci(5):
    print(x)

NameError: name 'fib' is not defined

In [111]:
def A(x):
    print(x)
    if x == 1:         
        return x
    else:      
        return B(x)

def B(x):    
    return A(x - 1)

A(5)

1

#### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [108]:
def sqcount(start):
    for i in range(start, -1, -1):
        yield i ** 2
        
        
sqcount(20)

In [109]:
def sqcount(start):
    for i in range(start, -1, -1):
        print(i ** 2)
        
        
sqcount(20)

400
361
324
289
256
225
196
169
144
121
100
81
64
49
36
25
16
9
4
1
0